body {
  /* margin-right: auto; */
  /* margin-left: 5ex; */
  /* margin: 1em 15% 1em 15%; */
  /* max-width: 420px; */
  padding: 0;
  margin: 0;
  background: #EEE;
  color: #111;
  font-family: monospace, sans-serif;
}

h1 { 
  padding: 20px 100px 20px;
  margin: 0;
  text-align: left;
  background: #111;
  color: #DDD;
  border-bottom: 2px solid #DDD;
}

form { 
    width: 600px;
    margin: 30px auto;
}

INPUT { 
  background-color: #efefff;
  border: #093f72 1px solid;
  color: #093f72;
}

.oswap-button-ok { 
  border: #093f72 1px solid; 
  background-color: #efefff;
  color: #09723f;
 
}

.oswap-button-cancel { 
  border: #093f72 1px solid; 
  background-color: #efefff;
  color: #72093f;
 
}

.oswap-checkbox { 
  border: #093f72 1px solid;
  background-color: #efefff;
  color: #09723f;
}

.alert { 
  color: #ff0000;
  
}
